{% extends 'base.html' %}

{% block title %}Modify Post | {% endblock %}

{% block content %}
<div class="container mx-auto p-4 text-black">
  <h1 class="text-2xl font-bold mb-4">Modify Post</h1>
  <form method="post" enctype="multipart/form-data" class="my-4 bg-cover">
    {% csrf_token %}
    <div class="mb-3">
      {{ form.title.label_tag }}
      {{ form.title }}
    </div>
    <div class="mb-3">
      {{ form.content.label_tag }}
      {{ form.content }}
    </div>
    <div class="mb-3">
      {{ form.media.label_tag }}
      {{ form.media }}
    </div>
    <div class="mb-3">
      {{ form.scheduled_datetime.label_tag }}
      {{ form.scheduled_datetime }}
    </div>
    <div class="mb-3">
      {{ form.status.label_tag }}
      {{ form.status }}
    </div>
    <button type="submit"  class="px-5 py-3 rounded-xl text-white bg-teal-600 hover:bg-teal-700">Update Post</button>
  </form>
  <a href="{% url 'view_posts' %}"  class="px-5 py-3 rounded-xl text-white bg-teal-600 hover:bg-teal-700">View Posts</a>
</div>
{% endblock %}
