{% extends 'base.html' %}

{% block title %}Profile | {% endblock %}

{% block content %}
  <div>
      <div class="flex items-center justify-center mt-4">
         <a href="/view_posts/" class="px-5 py-3 rounded-xl text-white bg-teal-600 hover:bg-teal-700">View Posts</a>
      </div>
      <div class="flex items-center justify-center mx-auto mt-4">
        <a href="/create_post/" class="px-5 py-3 rounded-xl text-white bg-teal-600 hover:bg-teal-700">Create Post</a>
    </div>
  </div>
{% endblock %}